## Basics Of Python - Part 2 (Loops)
#### Content
1. While Loop
2. For Loop


##### Note: 
1. First Clean the Evironment (Go to "Kernel" Menu --> "Restart & Clean Output"
2. To execute the code --> Click on a cell and press cntrl + enter key

# 1: While Loop

### 1.1: While Loop (print 1 to 10)

In [1]:
#------------------------------------------------------------------------
# 1.1: While Loop (print 1 to 10)
#------------------------------------------------------------------------
i = 1
while i <= 10:
    print (i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

### 1.2: While Loop (print 10 to 1)

In [2]:
#------------------------------------------------------------------------
# 1.2: While Loop (print 10 to 1)
#------------------------------------------------------------------------
i = 10
while i > 0:
    print (i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [3]:
#------------------------------------------------------------------------
# 1.2: While Loop (print 10 to 1)
#------------------------------------------------------------------------
i = 10
while (i > 0):
    print (i)
    i -= 1
    x = 80    # With in the loop
y = 90        # Out of the loop

10
9
8
7
6
5
4
3
2
1

# 2: Range Function

### 2.1: Range Function

In [4]:
#------------------------------------------------------------------------
# 2.1: Range Function
#------------------------------------------------------------------------
range(10)  # No output; Only print function

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
#------------------------------------------------------------------------
# 2.2: Range Function
#------------------------------------------------------------------------
list(range(10)) # A list will print

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
#------------------------------------------------------------------------
# 2.3: Range Function
#------------------------------------------------------------------------
print ("range(10)         --> ", list(range(10)))
print ("range(0,20)       --> ", list(range(0,20)))
print ("range(10,20)      --> ", list(range(10,20)))
print ("range(0,20,2)     --> ", list(range(0,20,2)))
print ("range(-10,-20,2)  --> ", list(range(-10,-20,2)))
print ("range(-10,-20,-2) --> ", list(range(-10,-20,-2)))

('range(10)         --> ', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
('range(0,20)       --> ', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])
('range(10,20)      --> ', [10, 11, 12, 13, 14, 15, 16, 17, 18, 19])
('range(0,20,2)     --> ', [0, 2, 4, 6, 8, 10, 12, 14, 16, 18])
('range(-10,-20,2)  --> ', [])
('range(-10,-20,-2) --> ', [-10, -12, -14, -16, -18])

# 3: For Loop

### 3.1: For loop (print 1 to 10)

In [7]:
#------------------------------------------------------------------------
# 3.1: For loop (print 1 to 10)
#------------------------------------------------------------------------
for i in range(0,10):
    print (i)

0
1
2
3
4
5
6
7
8
9

### 3.2: For loop (print 1 to 20 with increment of 2)

In [8]:
#------------------------------------------------------------------------
# 3.2: For loop (print 1 to 20 with increment of 2)
#------------------------------------------------------------------------
for i in range(0,21,2):
    print (i)

0
2
4
6
8
10
12
14
16
18
20

### 3.3: For loop (print 0 to -10)

In [ ]:
#------------------------------------------------------------------------
# 3.3: For loop (print 0 to -10)
#------------------------------------------------------------------------
for i in range(0,-10,1):
    print (i)

## No Output; Why ??

### 3.4: For loop (print 0 to -10)

In [9]:
#------------------------------------------------------------------------
# 3.4: For loop (print 0 to -10)
#------------------------------------------------------------------------
for i in range(0,-10,-1):
    print (i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

### 3.5: Print table of 5

In [10]:
#------------------------------------------------------------------------
# 3.5: Print table of 5
#------------------------------------------------------------------------
for i in range(1,11):
    print (5," * ", i , " = ", i * 5)

(5, ' * ', 1, ' = ', 5)
(5, ' * ', 2, ' = ', 10)
(5, ' * ', 3, ' = ', 15)
(5, ' * ', 4, ' = ', 20)
(5, ' * ', 5, ' = ', 25)
(5, ' * ', 6, ' = ', 30)
(5, ' * ', 7, ' = ', 35)
(5, ' * ', 8, ' = ', 40)
(5, ' * ', 9, ' = ', 45)
(5, ' * ', 10, ' = ', 50)

### 3.6: Sum all numbers from 1 to 10

In [11]:
#------------------------------------------------------------------------
# 3.6: Sum all numbers from 1 to 10
#------------------------------------------------------------------------
s = 0
for i in range(1,11):
    s = s + i
print ("Sum is --> ",s)

('Sum is --> ', 55)

### 3.7: Sum all numbers from 1 to 10

In [ ]:
#------------------------------------------------------------------------
# 3.7: Sum all numbers from 1 to 10
#------------------------------------------------------------------------
print ("Sum is --> ", sum(range(1,11)))

##### Assingment 3.1: WAP to print the table of 7, 9.
##### Assingment 3.2: WAP to print the table of n and n is given by user.
##### Assingment 3.3: WAP to add all the numbers from 1 to n and n is given by user.

# 4: Miscellaneous Example

### 4.1: Prime Number

In [ ]:
#------------------------------------------------------------------------
# 4.1: Prime Number
#------------------------------------------------------------------------
n = int(input("Enter a No: "))
f = 0
for i in range(2, int(1 + n/2)):
    if  n % i == 0: 
        f = 1
        break

if f == 0:
    print ("Prime")
else:
    print ("Not Prime")

### 4.2: Fibonacci Series

In [ ]:
#------------------------------------------------------------------------
# 4.2 Fibonacci Series
#------------------------------------------------------------------------
n = 10

a = 0
b = 1

print (a)
print (b)
for i in range(n):
    c = a + b
    print (c)
    a = b
    b = c